@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.nav-bg {
  height: 10rem;
  background-color: #fafafa;
}

.container_nav {
  max-width: 1320px;
  margin: 0 auto;
  height: 10rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  height: 10rem;
  align-items: center;
}

.nav__logo{
  cursor: pointer;
  padding: 1rem 1rem;
}
.nav__menu {
  display: flex;
  align-items: center;
}

.nav_menu__list {
  display: flex;
  list-style-type: none;
  align-items: center;
  text-decoration: none;
}

.nav-menu__link {
  padding: 0 2rem;
  text-decoration: none;
  color: #2a2a2a;
  font-size: 1.5rem;
  transition: 0.3s;
}

.nav-menu__link:hover {
  color: #fe3f40;
  text-decoration: none;
  transition: 0.3s;
}

.btn__contact {
  background-color: #772a06;
  padding: 1rem 2rem;
  border: none;
  color: white;
  border-radius: 20px;
  transition: 0.3s;
}

.btn__contact:hover {
  background-color: #fe3f40;
  transition: 0.3s;
}
.btn-toggle-menu{
  display: none;
}

/* Responsive */
@media (max-width: 875px) {
  .btn__contact{
      display: none;
  }
  .nav{
      justify-content: center;
  }
  .nav-menu__link{
      padding: 0 1.2rem;
  }
  .btn-toggle-menu{
      display: none;
  }
}
.btn-toggle-menu{
  display: none;
}

/* Mobile */
@media (max-width: 690px){
    
  .nav{
      justify-content: space-between;
      position: relative;
  }
  .nav__logo{
    left: 10%;
    padding: 1rem 1rem;
  }
  .nav__menu{
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 9999;
      height: 0;
      overflow: hidden;
      transition: 0.3s;
  }
  .btn-toggle-menu{
      display: block;
  }
  .btn-toggle-menu:checked ~ .nav__menu{
      height: 300%;
      transition: 0.3s;
  }
  .btn-toggle-menu{
      position: absolute;
      right: 4rem;
      width: 4rem;
      height: 4rem;
      z-index: 999;
      opacity: 0;
  }
  .toggle-menu-icon{
      position: absolute;
      /* border: 2px solid red; */
      width: 4rem;
      height: 4rem;
      right: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
     
  }
  .toggle-menu-icon span{
      display: block;
      width: 100%;
      background-color: black;
      height: 3px;
      transition: 0.3s;
  }
  .toggle-menu-icon span::after{
      content: "";
      position: absolute;
      bottom: 0;
      width: 80%;
      height: 3px;
      background-color: black;
      transition: 0.3s;
  }
  .toggle-menu-icon span::before{
      content: "";
      position: absolute;
      top: 0;
      width: 80%;
      height: 3px;
      background-color: black;
      transition: 0.3s;
  }
  .btn-toggle-menu:checked ~ .toggle-menu-icon span::before{
      transform: rotate(45deg);
      top: 50%;
      left: -18%;
      width: 140%;
  }
  .btn-toggle-menu:checked ~ .toggle-menu-icon span::after{
      transform: rotate(-45deg);
      bottom: 50%;
      left: -18%;
      width: 140%;
  }
  .btn-toggle-menu:checked ~ .toggle-menu-icon span{
      width: 0;
  }
  .nav_menu__list{
      display: block;
      background-color: grey;
  }
  .nav-menu__item{
      width: 40rem;
      height: 5rem;
      /* border: 1px solid red; */
      display: flex;
      justify-content: center;
      text-align: center;
  }
  .nav-menu__item:hover{
      background-color: #f2f2f2;
  }
  .header-text-container h1{
    display: none;
  }
  .header-text-container p {
    display: none;
  }
}
/* IMG */

.header-text {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;
}

.header-text-container {
  color: white;
}

.header-text-container h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.header-text-container p {
  font-size: 30px;
  margin-bottom: 20px;
}

.header-text-container button {
  padding: 20px 30px;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #fff;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  transition: 0.3s;
}

.header-text-container button:hover {
  background-color: #f2726a;
  transition: 0.3s;
} 

.big-image{
  background: url("./img/lycfngon.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
  object-fit: cover;
  position: relative;
  background-attachment: fixed;
}
.big-image-overlay{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;  
}


.tun-image{  
  background: url("./img/tun.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
  object-fit: cover;
  position: relative;
}
.tun-image-overlay{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;  
}

.tet-image{  
  background: url("./img/Tet-2021_Header-Desktop_1600x700.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 700px;
  object-fit: cover;
  position: relative;
}
.tet-image-overlay{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;  
}


/* FOOTER */
.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color: black;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}





